<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="indexx(title='文档下载')">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/mhDoLbDldZc3qpsJHpLogda//BVZbgYuw6kof4u2FrCedxOtgRZDTHgHUhOCVim" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="public_right">
    <div id="public_right">
        <h4>
            文档下载
        </h4>
        <table>
            <tr>
                <td>anki-logo.png</td>
                <td><a th:href="@{/download(filename='anki-logo.png}')}">下载文件</a></td>
            </tr>
            <tr>
                <td>Spring Boot 应用级开发教程.pdf</td>
                <td><a th:href="@{/download(filename='Spring Boot 应用级开发教程.pdf')}">下载文件</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!--3030213314李贺，登录 成功 ！！-->
<div ></div>
</body>
</html>