<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="publicpage4(title ='首页')">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"> </script>


<div th:fragment = "public_right">
  <div id="public_right">
    <div th:if = "${uploadStatus}" style = "color:red" th:text = "${uploadStatus}">上传成功</div>
    <form th:action = "@{/uploadFile}" method = "post" enctype = "multipart/form-data">
      <h4>
        上传文件
      </h4>
      <input type = "button" value = "添加文件" onclick = "add()"/>
      <div id = "file" style = "margin-top:10px;" th:value = "文件上传区域">
<!--        <div style = 'display:flex'><input type='file' name='fileUpload' required='required'/><input type='button' value='删除' onclick='remove(this)'/></div>-->
      </div>
      <input id = "submit" type="submit" value="上传" style="display:none;margin-top:10px;"/>

    </form>
  </div>

</div>

</html>
<script>
  function add() {
    var innerdiv = "<div style = 'display:flex'>" + "<input type='file' name='fileUpload' required='required'/>"
            + "<input type='button' value='删除' onclick='remove(this)'/>" + "</div>";

    $("#file").append(innerdiv);
    $("#submit").css("display", "block");

  }

  function remove(obj) {
    $(obj).parent().remove();
    if ($("#file div").length==0) {
      $("#submit").css("display", "none");
    }
  }
</script>
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="publicpage3(title='文件上传')">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <div th:fragment="public_right">-->
<!--    <div th:if="${uploadStatus}" style="color: aquamarine" th:text="${uploadStatus}">上传成功</div>-->

<!--    <form th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">-->
<!--      <h3>上传文件</h3>-->
<!--      <input type="button" value="添加文件" onclick="add()"/>-->
<!--      <div id="file" style="margin-top: 10px" th:value="文件上传区域"></div>-->
<!--      <input id="upload" type="submit" value="上传" style="display: none;margin-top: 10px;">-->
<!--    </form>-->
<!--</div>-->
<!--<html>-->

<!--    <script>-->
<!--      function addFile() {-->
<!--        var innerdiv="<div style='display: flex'>"+-->
<!--                "<input type='file' name='fileUpload' required='required' style='margin-top: 10px;width: 200px'/>"+-->
<!--                "<input type='button' value='删除' onclick='remove(this)' style='margin-top: 10px'/>"+"</div>";-->
<!--        $("#file").append(innerdiv);-->
<!--        $("#upload").css("display","block");-->
<!--      }-->

<!--      function remove(obj) {-->
<!--        $(obj).parent().remove();-->
<!--        if ($("#file div").length==0) {-->
<!--          $("#upload").css("display","none");-->

<!--        }-->
<!--      }-->
<!--    </script>-->
